apiVersion: v1
kind: Secret
metadata:
  name: autocare360-secrets
type: Opaque
stringData:
  db-url: "jdbc:mysql://YOUR_RDS_ENDPOINT:3306/autocare360"
  db-username: "YOUR_DB_USERNAME"
  db-password: "YOUR_DB_PASSWORD"
  jwt-secret: "YOUR_JWT_SECRET_KEY"
