name: CD

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Build with Maven
      run: mvn clean package -DskipTests

    - name: Set lowercase repository name
      run: echo "REPO_NAME=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.PAT_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ghcr.io/${{ env.REPO_NAME }}:latest

    - name: Deploy to Kubernetes
      uses: azure/k8s-deploy@v4
      with:
        manifests: |
          deployment/kubernetes/base/namespace.yaml
          deployment/kubernetes/base/configmap.yaml
          deployment/kubernetes/base/secrets.yaml
          deployment/kubernetes/base/app-deployment.yaml
          deployment/kubernetes/base/app-service.yaml
          deployment/kubernetes/base/db-deployment.yaml
          deployment/kubernetes/base/db-service.yaml
          deployment/kubernetes/network/ingress.yaml
          deployment/kubernetes/volumes/mysql-pvc.yaml
          deployment/kubernetes/RBAC/serviceaccount.yaml
          deployment/kubernetes/RBAC/role.yaml
          deployment/kubernetes/RBAC/rolebinding.yaml
        images: ghcr.io/${{ github.repository }}:latest
        namespace: autocare360
      env:
        KUBECONFIG: ${{ secrets.KUBE_CONFIG }}
    - name: Create Secrets
      run: |
        kubectl create secret generic autocare360-secrets --from-literal=db-url=${{ secrets.DB_URL }} --from-literal=jwt-secret=${{ secrets.JWT_SECRET }} --from-literal=mysql-root-password=${{ secrets.MYSQL_ROOT_PASSWORD }} --from-literal=mysql-database=${{ secrets.MYSQL_DATABASE }} --from-literal=mysql-user=${{ secrets.MYSQL_USER }} --from-literal=mysql-password=${{ secrets.MYSQL_PASSWORD }} -n autocare360 --dry-run=client -o yaml | kubectl apply -f -